@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('https://isaacstilwell.github.io/bin/MicrosoftSansSerif.woff2') format('woff2'),
        url('https://isaacstilwell.github.io/bin/MicrosoftSansSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

