@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('MicrosoftSansSerif.woff2') format('woff2'),
        url('MicrosoftSansSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

